
<html>
<body>
<form action="{{url_for('predict_datapoint')}}" method="POST">
    <div class="form-group">
        <label for="time">trans_date_trans_time:</label>
        <input type="text" id="time" name="time" placeholder="Enter time(hh)">
    </div>
    
    <div class="form-group">
        <label for="category">category</label>
        <input type="text" id="category" name="category" placeholder="Enter category (str)">
    </div>
  
    <div class="form-group">
        <label for="amt">amt:</label>
        <input type="text" id="amt" name="amt" placeholder="Enter amt (float)">
    </div>

  <div class="form-group">
    <label for="gender">gender:</label>
    <input type="text" id="gender" name="gender" placeholder="Enter gender (M/F)">
  </div>  

  <div class="form-group">
    <label for="city">city:</label>
    <input type="text" id="city" name="city" placeholder="Enter city (str)">
  </div>  
 
  <div class="form-group">
    <label for="lat">lat:</label>
    <input type="text" id="lat" name="lat" placeholder="Enter lat (float)">
  </div>  
  
  <div class="form-group">
    <label for="job">job:</label>
    <input type="text" id="job" name="job" placeholder="Enter job (str)">
  </div>  
  <div class="form-group">
    <label for="age_group">age_group:</label>
    <input type="text" id="age_group" name="age_group" placeholder="Enter age_group(child,youth,adult,mid age,senior)">
  </div>  
 


<div style="clear:both;"></div>
  <input type="submit" value="Submit">
</form>
</body>
</html>